// _style_SM.scss

@media (min-width: 992px) and (max-width: 1199px) {

body {
  font-size: 14px;
}

#main {

}

.push-down-for-header {
	float: left;
	width: 100%;
	height: 85px;
}
.mb-s {
  margin-bottom: 20px;
}

.mb-m {
  margin-bottom: 30px;
}

.mb-xl {
  margin-bottom: 45px; 
}


/**
 * Header 
 * ----------------------------------------------------------------------------
 */

#menu-max-width {
	 width: 970px;
	 margin: auto; 
}

#top-spacer {
  float: left;
  width: 100%;  
  height: 50px;
}

.top-logo {
  
	img {
		height: 120px;
		width: auto;
		margin-top: 0px;
		}
		
}

.top-logo-collapse {

	img {
		height: 120px;
		width: auto;
		margin:0px;
		margin-top: -55px;
		}
}

.nav>li>a {
	font-size: 12px;
	line-height: 1em;
	padding: 19px 10px 19px 10px;
}

.top-nav-collapse {

	.nav>li>a {
	font-size: 12px;
	line-height: 1em;
	padding: 19px 10px 19px 10px;
	}

}


} // End @media 


