// _style_SM.scss

@media (min-width: 768px) and (max-width: 991px) {

body {
  font-size: 14px;
}

#main {

}

.push-down-for-header {
  float: left;
  width: 100%;
  height: 77px;
}

.mb-s {
  margin-bottom: 20px;
}

.mb-m {
  margin-bottom: 30px;
}

.mb-xl {
 margin-bottom: 30px;
}



/**
 * Header 
 * ----------------------------------------------------------------------------
 */

#menu-max-width {
   width: 750px;
   margin: auto; 
}







} // End @media 


