// _style_SM.scss

@media (min-width: 768px) and (max-width: 991px) {

body {
  font-size: 14px;
}

#main {

}

.push-down-for-header {
  float: left;
  width: 100%;
  height: 77px;
}

.mb-s {
  margin-bottom: 20px;
}

.mb-m {
  margin-bottom: 30px;
}

.mb-xl {
 margin-bottom: 30px;
}



/**
 * Header 
 * ----------------------------------------------------------------------------
 */
#menu-max-width {
   width: 750px;
   margin: auto; 
}

#top-spacer {
  float: left;
  width: 100%;  
  height: 50px;
}

.top-logo {
  
  img {
    height: 90px;
    width: auto;
    margin-top: 0px;
    }
    
}

.top-logo-collapse {

  img {
    height: 120px;
    width: auto;
    margin:0px;
    margin-top: -58px;
    }
}

.nav>li>a {
  font-size: 12px;
  line-height: 1em;
  padding: 15px 10px 15px 10px;
}

.top-nav-collapse {

  .nav>li>a {
  font-size: 12px;
  line-height: 1em;
  padding: 15px 10px 15px 10px;
  }

}



/**
 * Frontpage - Product section 
 * ----------------------------------------------------------------------------
 */

.frontpage-product-logo-link {
  float: left; 
  position: absolute;
  top: 105px;
  display: block;
  width: auto;
  background-color: #000000;

  img {
    float: left;
    display: block;
    height: 25px;
    width: auto;
    margin: 10px 20px 10px 20px;
  }

}


/**
 * Frontpage - Benefit section
 * ----------------------------------------------------------------------------
 */

.frontpage-benefit-container {
  float: left;
  width: 100%;
}


/**
 * Frontpage - Form section 
 * ----------------------------------------------------------------------------
 */


.fp-form-product-text {
  padding: 30px 30px 30px 30px;
}

.fp-form-product {
  background-size: cover;
}





} // End @media 


