// _style_LG.scss

@media screen and (min-width: 1200px) {

body {
  font-size: 15px;
}

#main {
	
}

.push-down-for-header {
	float: left;
	width: 100%;
	height: 95px;
}

.mb-s {
  margin-bottom: 30px;
}

.mb-m {
  margin-bottom: 45px;
}

.mb-xl {
  margin-bottom: 60px;
}

/**
 * Header 
 * ----------------------------------------------------------------------------
 */

#menu-max-width {
	 width: 1170px;
	 margin: auto; 
}


#logo {
	
	img {
	float: left;
	display: block;
	width: auto;
	height: 60px;
	margin: 5px 0px 5px 0px;
	}

}

.nav>li>a {
	padding: 25px 10px 25px 10px;
}

#logo {

	h1 {
    font-size: 1.44em;
    line-height: 1em;
   	padding: 25px 10px 25px 10px;
    margin: 0px;
  	}
}


.top-nav-collapse {

	#logo {
	
		img {
		float: left;
		display: block;
		width: auto;
		height: 40px;
		margin: 7px 0px 5px 0px;
		}
		
		h1 {
	    padding: 15px 10px 14px 10px;
	    }

	}
	

	.nav>li>a {
	padding: 17px 10px 15px 10px;

}

}






/**
 * singel-post-box 
 * ----------------------------------------------------------------------------
 */

 .singel-post-box-visual {
	float: left;
	padding: 0px 75px 15px 75px;
}

.singel-post-box-info-list {
	padding: 0px 45px 45px 45px;
	text-align: center;
}

.singel-post-box-thumbnail-link {
	
	img {
	border-radius: 50%;
	overflow: hidden;
	}
}

.singel-post-box-info {
	float: left;
	width: 100%;
}

.singel-post-box-info-list {
		float: left;
		width: 100%;
}

.singel-post-box-excerpt-link h2 {
	padding-top: 5px;
}



/**
 * Header - Call to Action 
 * ----------------------------------------------------------------------------
 */


#call-to-action-header {
	position: absolute;
	background-color: black;
	right: 30px;
	top: 71px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.call-to-action-header-link {
	float: left;
	width: 100%;
	display: block;
	background-color: #529639;
	color: #ffffff;
	text-decoration: none;
}

.call-to-action-header-link:hover {
	background-color: #000000;
	text-decoration: none;
	color: #ffffff;
}

.call-to-action-header-icon {
	float: left;
	width: 22px;

	img {
		margin: 10px;
		float: left;
		display: block;
		width: 100%;
		height: auto;
	}
}

.call-to-action-header-text { 
	float: left;
	margin: 12px 20px 10px 15px;
	font-size: 0.8em;
}



} // End @media 
